name: Build

on:
  push:
    branches: [master]
    tags-ignore: ['**']
  pull_request:
  workflow_dispatch:

env:
  DOTNET_NOLOGO: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6
    - name: Install .NET
      uses: actions/setup-dotnet@v5
    - name: Restore
      run: .\build.ps1 restore
    - name: Build
      run: .\build.ps1 build --skip restore
    - name: Test
      run: .\build.ps1 test --skip build
